<html>
<head>
    <title>Restaurant Menu App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Javascript files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" async></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" async></script>

</head>
<body>
    <div class="background-tint background-image"></div>
    <div class="container">
        <h1 class="above"><a href="{{url_for('indexRestaurant')}}">Restaurant Menu App</a></h1>
        <h3 class="above"><u>Restaurants</u></h3>
        <!-- Flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li><strong> {{message}} </strong></li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% if not restaurants %}
            <p class="above">There are currently no restaurants added.</p>
        {% endif %}
        <!-- <div class="row"> -->
        {% for restaurant in restaurants %}
            <div class="row restaurantContainer">
                <a class="col-md-11 btn btn-default restaurantNameContainer" href="{{url_for('indexMenu', restaurant_id=restaurant.id)}}">{{restaurant.id}}. {{restaurant.name}} </a>
                <a class="col-md-1 btn btn-primary editButton" href="{{url_for('editRestaurant', restaurant_id=restaurant.id)}}">Edit</a>
                <a class="col-md-1 btn btn-danger deleteButton" href="{{url_for('deleteRestaurant', restaurant_id=restaurant.id)}}">Delete</a>
            </div>
        {% endfor %}
        <!-- </div> -->

        <a class="above addButton btn btn-success" href="{{url_for('addNewRestaurant')}}">+ Add a new Restaurant</a>
    </div>
</body>
</html>
